.content{
    font-size: 50px !important;
}

.tabHeader button{
    text-align: center;
    font-size: 15px;
    font-family: 'opensans-bold', sans-serif;
}

.tabHeader button:hover{
    background: linear-gradient(90deg, hsla(136, 82%, 72%, 1) 0%, hsla(205, 84%, 36%, 1) 100%);
}

.tabContent{
    text-align: center;
}